@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Rubik&display=swap');
/* custom colors */
.bg_pink{
    background-color: #FF008C;
}
.text_pink{
    color: #FF008C;
}
.bg_blue{
    background-color: #093867;
}
.text_blue{
    color: #093867;
}
/*  */
body{
    font-family: 'Rubik', sans-serif;
}
#parent_container{
    background-color: #FF008C;
}
@media only screen and (max-width: 768px) {
    #company_logo_container img{
        position: relative;
    }
    #company_logo_container img{
        position: relative;
        left: 10%;
        width: 80%;
    }
}
#company_logo{
    width: 300px;
    height: 130px;
    margin:auto;
}
.nav_item{
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    opacity: .9;
}
.nav_item a{
    color: #093867;
    text-shadow: #ffffff .01em 0.025em;
}
.page{
    /* height: 500px; */
    display: none;
}
#home_page{
    display: block;
}
/* about page */
#company_description{
    width: 60%;
    margin: auto;
}
/* registration page */
hr{
    border: 1.5px solid #FF008C;
}
/* contact page */
#contact_page{
    position: relative;
}
.gmap_canvas{
    overflow:hidden;
    background:none !important;
}
@media only screen and (min-width: 768px) {
    #company_address_map{
        position: absolute;
        top: 2em;
        right: 2em;
    }
}
@media only screen and (max-width: 765px) {
    #company_address_map{
        padding-left: 2em;
    }
}
/* footer */
footer #copyright_info{
    position: fixed;
    bottom: 1em;
    left: 0;
}
footer #social_media_icons{
    position: fixed;
    bottom: 1em;
    right: 0;
}